body {
    color: #333;
    font-family: BentonSans,Helvetica Neue,Helvetica,"sans-serif";
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.errorContainer {
    max-width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.errorTitle {
    font-size: 1.625rem !important;
    font-weight: 400;
    margin: 0;
}

.collapsible {
    margin-top: .5rem !important;
    background-color: #f7f7f7;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: .25rem;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #eee;
}

.collapsible:before {
    content: "\02795";
    font-weight: bold;
    float: left;
    margin-right: 5px;
}

.active:before {
    content: "\2796";
}

.content {
    max-height: 0;
    overflow: hidden;
    border: 1px solid #ddd;
    padding-left: 18px;
    transition: max-height 0.2s ease-out;
}

pre {
    font-family: monospace,monospace;
    font-size: 1em;
}

footer {
    font-size: .75rem !important;
    max-width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-top: 2rem !important;
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}